<div class="home-page">
  <h1 id="page-title">Welcome, <%= @user.username %></h1>
  <div class="row">
      <div class="col">
        <div class="row justify-content-center">
        <div class="home-table">
        <% if @user.bills.empty? %>
          <div class="no-info">
            <p>No bills to show</p>
            <p>Click <a href="/bills/new">here</a> to get started</p>
          </div>
        <% else %>
          <h3>Current Bills</h3>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Provider</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Due On</th>
                </tr>
              </thead>
              <tbody>
                <% @user.bills.each do |bill| %>
                <tr>
                  <td><%= bill.provider %></td>
                  <td>$<%= bill.balance %></td>
                  <td style="color: <%= bill.color %>"><%= bill.duedate %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
        <% end %>
      </div>

    <div class="home-table">
      <% if @user.banks.empty? %>
        <div class="no-info">
          <p>No banks to show</p>
          <p>Click <a href="/banks/new">here</a> to get started </p>
        </div>
      <% else %>
        <h3>Bank Information</h3>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Bank</th>
                <th scope="col">Checking</th>
                <th scope="col">Savings</th>
              </tr>
            </thead>
            <tbody>
              <% @user.banks.each do |bank| %>
              <tr>
                <td><a href="<%= bank.url %>"><%= bank.name %></a></td>
                <td>$<%= bank.checking_balance %></td>
                <td>$<%= bank.savings_balance %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>


      <div class="home-table">
      <% if @user.creditcards.empty? %>
        <div class="no-info">
          <p>No creditcards to show</p>
          <p>Click <a href="/creditcards/new">here</a> to get started</p>
        </div>
      <% else %>
        <h3>Credit Card Information</h3>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Card</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Credit</th>
                  <th scope="col">Payment Due</th>
                </tr>
              </thead>
              <tbody>
                <% @user.creditcards.each do |creditcard| %>
                <tr>
                  <td><%= creditcard.name %></td>
                  <td>$<%= creditcard.balance %></td>
                  <td>$<%= creditcard.credit %></td>
                  <td><%= creditcard.duedate %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
       <% end %>
      </div>
    </div>
  </div>




      <div class="col">
        <div class="row justify-content-center">
          <div id="calendar">
            <div class="month">
              <ul>
                <li>// Cash Track //</li>
                <li><%= Date.today.strftime("%B") %> <%= Date.today.strftime("%e").strip %>, <%= Date.today.strftime("%Y") %></li>
              </ul>
            </div>

            <ul class="weekdays">
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>Su</li>
            </ul>

            <ul class="days">
            <% days_in_month(1).times.with_index do |i| %>
              <% if todays_date?(i + 1) || bill_day?(i + 1, Date.today.strftime("%-m")) %>
                <li><span class="active" style="background: <%= bill_day?(i + 1, Date.today.strftime("%-m"))%>"><%= i + 1 %></span></li>
              <% else %>
                <li><%= i + 1 %></li>
              <% end %>
            <% end %>
            </ul>
        </div>
      <div class="home-table">
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Checking Total</th>
              <th scope="col">Bills</th>
              <th scope="col">Credit Debt</th>
              <th scope="col">Available Cash</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$<%= checking_total %></td>
              <td>$<%= bill_total %></td>
              <td>$<%= credit_debt %></td>
              <td>$<%= checking_total - bill_total - credit_debt %></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
