<h1 id="page-title">Welcome, <%= @user.username %></h1>
<div class="column">
  <h3>Current Bills</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Provider</th>
        <th scope="col">Balance</th>
        <th scope="col">Due On</th>
      </tr>
    </thead>
    <tbody>
      <% @user.bills.each do |bill| %>
      <tr>
        <td><%= bill.provider %></td>
        <td>$<%= bill.balance %></td>
        <td style="color: <%= bill.color %>"><%= bill.duedate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Bank Information</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Bank</th>
        <th scope="col">Checking</th>
        <th scope="col">Savings</th>
      </tr>
    </thead>
    <tbody>
      <% @user.banks.each do |bank| %>
      <tr>
        <td><a href="<%= bank.url %>"><%= bank.name %></a></td>
        <td>$<%= bank.checking_balance %></td>
        <td>$<%= bank.savings_balance %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Credit Card Information</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Card</th>
        <th scope="col">Balance</th>
        <th scope="col">Credit</th>
        <th scope="col">Payment Due</th>
      </tr>
    </thead>
    <tbody>
      <% @user.creditcards.each do |creditcard| %>
      <tr>
        <td><%= creditcard.name %></td>
        <td>$<%= creditcard.balance %></td>
        <td>$<%= creditcard.credit %></td>
        <td><%= creditcard.duedate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="column">
  <div class="month">
    <ul>
      <li><%= Date.today.strftime("%B") %></li>
      <li><%= Date.today.strftime("%Y") %></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>

  <ul class="days">
  <% Calendar.days_in_month(1).times.with_index do |i| %>
    <% if Calendar.todays_date?(i + 1) || Calendar.bill_day?(i + 1) %>
      <li><span class="active" style="background: <%= Calendar.bill_day?(i + 1) %>"><%= i + 1 %></span></li>
    <% else %>
      <li><%= i + 1 %></li>
    <% end %>
  <% end %>
  </ul>
</div>
