
<h2 id="page-title"><%= current_user.username %>'s Bills</h2>
<div class="show-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Provider</th>
        <th scope="col">Balance</th>
        <th scope="col">Due On</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.bills.each do |bill| %>
      <tr>
        <td><%= bill.provider %></td>
        <td>$<%= bill.balance %></td>
        <td><%= bill.duedate %></td>
        <td><a href="/bills/<%= bill.id %>/edit">Edit Bill</a></td>
        <td><form action="/bills/<%= bill.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Bill">
        </form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p class="new-link"><a href="/bills/new">Add New Bill</a></p>
