<h1>Current Bills</h1>
<a href="/bills/new">Add Bill</a>
<p>-------------------------------------------</p>
<% current_user.bills.each do |bill| %>
  <p>Provider: <%= bill.provider %></p>
  <p>Balance: <%= bill.balance %></p>
  <p>Due: <%= bill.duedate %></p>
  <a href="/bills/<%= bill.id %>/edit">Edit Bill</a>
  <form action="/bills/<%= bill.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <p><input type="submit" value="Delete Bill"></p>
  </form>
  <p>-------------------------------------------</p>
<% end %>
