<h2 id="page-title"><%= current_user.username %>'s Creditcards</h2>
<div class="show-table">
  <table class="table table-striped">
    <thead
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Balance</th>
        <th scope="col">Intrest Rate</th>
        <th scope="col">Credit</th>
        <th scope="col">Payment Due</th>
        <th scope="col">Edit Card</th>
        <th scope="col">Delete Card</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.creditcards.each do |creditcard| %>
      <tr>
        <td><%= creditcard.name %></td>
        <td>$<%= creditcard.balance %></td>
        <td>$<%= creditcard.credit %></td>
        <td><%= creditcard.intrest_rate %>%</td>
        <td><%= creditcard.duedate %></td>
        <td><a href="/creditcards/<%= creditcard.id %>/edit">Edit Card</a></td>
        <td><form action="/creditcards/<%= creditcard.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Card">
        </form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p class="new-link"><a href="/creditcards/new">Add New Card</a></p>
