<h1>Users Creditcards</h1>
<a href="/creditcards/new">Add Creditcard</a>
<p>-------------------------------------------</p>
<% current_user.creditcards.each do |creditcard| %>
  <p>Card Name: <%= creditcard.name %></p>
  <p>Intrest Rate: <%= creditcard.intrest_rate %></p>
  <p>Balance: <%= creditcard.balance %></p>
  <p>Credit: <%= creditcard.credit %></p>
  <p>Minium payment due: <%= creditcard.duedate %></p>
  <a href="/creditcards/<%= creditcard.id %>/edit">Edit Card</a>
  <form action="/creditcards/<%= creditcard.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <p><input type="submit" value="Delete Card"></p>
  </form>
  <p>-------------------------------------------</p>
<% end %>
